{% extends 'layout/base.html' %}

{% block title %} Nhập điểm cho lớp {% endblock %}
{% block content %}
<h1>Settings</h1>
<form method="POST" action="{{ url_for('quyDinh') }}">
    <div class="form-group">
        <label for="mintuoi">
            min_tuoi:
        </label>
        <input type="text" class="form-control" id="mintuoi" name="mintuoi" required>
    </div>
    <div class="form-group">
        <label for="maxtuoi">
            max tuoi:
        </label>
        <input type="text" class="form-control" id="maxtuoi" name="maxtuoi" required>
    </div>
     <br>
    <input type="submit" value="Dang Ky" class="btn btn-danger">
    <br><br>
</form>


{% endblock %}