{% extends 'layout/base.html' %}

{% block title %}Quy dinh{% endblock %}

{% block content %}
<div id="accordion" class="col-sm-6">

    <div class="card">
        <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseClassSize">
                Sỉ số lớp học
            </a>
        </div>
        <div id="collapseClassSize" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                <input type="number" class="form-range" id="ageRangeNum2">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseAgeRange">
                Độ tuổi
            </a>
        </div>
        <div id="collapseAgeRange" class="collapse row" data-bs-parent="#accordion">
            <div class="card-body col-sm-10">
                <label class="form-label">Tuổi thấp nhất</label>
                <input type="range" class="form-range" id="ageRange1" step="1" min="0" max="100">
                <label class="form-label">Tuối lớn nhất</label>
                <input type="range" class="form-range" id="ageRange2" step="1" min="0" max="100">
            </div>
            <div class="card-body col-sm-2">
                <label class="form-label">Số tuổi</label>
                <input type="number" class="form-range" id="ageRangeNum1">
                <label class="form-label">Số tuổi</label>
                <input type="number" class="form-range" id="ageRangeNum2">
            </div>
        </div>
    </div>

</div>
{% endblock %}
